{% extends 'base.html' %}

{% block contents %}

{% load staticfiles %} 

<style>
    .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    }

    @media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
    }
</style>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">포토폴리오</h1>
      <p class="lead text-muted">나름 없는 시간 쪼개서 만들고있는 블로그 홈페이지 입니다. 기능은 강의에 충실하며, 부트스트랩 기반으로 css 조금 손대봅니다...</p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{% static 'LIKELION.png' %}" width="100%" height="225" alt="static image">
            <div class="card-body">
              <p class="card-text">7기 모집 가즈아!</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

      {% for portfolio in portfolios.all %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{{portfolio.image.url}}" width="100%" height="225" alt="static image">
            <div class="card-body">
              <p class="card-text">{{portfolio.description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>

</main>


{%endblock%}

